
body {
    margin: 0;
    padding: 0;
    padding: 2rem 1rem;
    background-image: linear-gradient(to right, rgba(122, 96, 55, 0.716), rgb(214, 102, 54));
}

h1{
    font-size: 2.5rem;
    color: #000000ec;
    text-decoration: underline rgb(185, 134, 134);
    margin-left: 700px;
    margin-top: 50px;
    margin-bottom: 80px;
}

label{
    display: block;
    font-size: 1.5rem;
    margin-left: 650px;
    margin-top: 50px;
}

.m-auto{
    display: block;
    margin-left: 800px;
    margin-top: 50px;
    border: 5px;
    border-radius: 5px;
}

input {
    padding: 0.2rem;
    font-size: 1.1rem;
    outline: none;
    border-radius: 0.1rem;
    width: 20rem;
    height: 2rem;
    text-indent: 0.2rem;
    background-color: #fdfdfd;
}

input:focus {
    color: rgb(255, 255, 255);
    background-color: #000000;
}

::selection {
    color: #fdfdfd;
    background-color: #444;
}

button {
    padding: 10px;
    font-size: 1.5em;
    color: #180101;
    width: 150px;
    height: 50px;
    border-radius: 15px;
    margin-top: 80px;
    margin-left: 850px;
    cursor: pointer;
}

button:hover{
    color: #cdd4df;
    background-color: #180101;
}
